
/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*--------------- Global Custom CSS -------------------*/


@font-face {
  font-family: 'Chilia Demo'; /* Give your font a descriptive name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Chilia-Regular-BF64e0411a3313c.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* ExtraBold is typically 800 */
  font-style: normal!important;;
  font-display: swap;
}


@font-face {
  font-family: 'Arcon'; /* Use the base font family name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Arcon-Regular.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* 'Bold' typically corresponds to 700 */
  font-style: italic!important;; /* This is an italic variant */
  font-display: swap; /* Recommended for better loading performance */
}

.main-content {
    display: block;
    background: #fff!important;
}

div#shopify-section-template--24726121251126__categories_ka7dhf, div#shopify-section-template--24726121251126__categories_7k6aEe {
    background-image: url(https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Fondo_seccion_categories.jpg?v=1754510253);
}
/*Mega menu*/
#tt-megamenu .tt-mega_menu .tt_menus_ul>li>a ,.currency_wrapper.dropdown-toggle, .language_wrapper.dropdown-toggle{
   
    color: #000;
    font-family: Arcon!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
/*Button*/

.home-slider .slider-content-wrap .slider-button > a {
    color: #FFF;
    font-family: Arcon!important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ttabout-btn>.btn ,li#menu--tt_mm_menu_WCeC9F>a {
color: #FFF!important;
text-align: center;
background: #734128!important;
font-family: Arcon!important;
border-radius: 25px!important;
font-style: normal;
font-weight: 400;
line-height: normal!important;
border: 1px solid  #734128!important;
}
.site-header.header_1 #tt-megamenu .tt-mega_menu .tt_menus_ul > li > a::before {

background:transparent!important;

}
.tt_menu_item.tt_mm_hassub>a:hover,.tt_menu_item.single>a:hover{

background:#C7A07A;
}
.TTProduct-Tab .nav-tabs > li.active > a, .TTProduct-Tab .nav-tabs > li > a:focus {
    color: #FFF;
    font-family: Arcon!important;
    font-style: normal;
    line-height: normal;
    font-weight: 400!important;
}
.TTProduct-Tab .nav-tabs > li > a {
    font-size: 30px !important;
       font-family: Arcon!important;
    line-height: normal;
}
.product-wrapper .btn_wrapper .pro_btn a, .product-wrapper .btn_cart .pro_btn a
 {
    background: #734128!important;
    color: #ffffff!important;
    font-family: Arcon!important;
 }
 .style2.grid-view-item .product-wrapper .btn_wrapper .pro_btn.add_tocart span.add_cart, .style2.grid-view-item .product-wrapper .btn_wrapper .pro_btn.add_tocart span.sold_cart {
 color: #ffffff!important;
}

.qty-box-set .qtyminus, .qty-box-set .qtyplus, .qty-box-set .qtyminus1, .qty-box-set .qtyplus1 {
    border-color: #734128 !important;
    cursor: pointer;
    background: #734128 !important;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], textarea, select {
    border: 1px solid #734128 !important;

}
.qty-box-set {
      top: 8rem;
border: 1px solid #734128 !important;
}
.product-price__sale-label, .product-wrapper .custom_label {
display: none!important;

}
.ttabout-main .ttabout-block .ttabout-right .ttabout-title {   
    color: var(--Color-Tierra-1, #391E10);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--Color-Tierra-1, #391E10);
    font-family: "Chilia Demo";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ttabout-main .ttabout-block .ttabout-right .ttabout-desc {

    color: #000!important;
    font-family: Arcon!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
h2.tt-titlelv {
    color: var(--Color-Tierra-1, #391E10)!important;
    -webkit-text-stroke-width: 0.5px!important;
    -webkit-text-stroke-color: var(--Color-Tierra-1, #391E10)!important;
    font-family: "Chilia Demo";

    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal;
}
.titletemplate--24726121251126__category-feature:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 45rem;
    height: .2rem;
    background-color: #391E10!important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    top: 4.5rem;
}
.template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .cat-item a.cat-btn
 {

    text-align: center;
    font-family: Arcon!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
  .template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .collection_title

 {
    font: 400 38px / 40px var(--font-stack-subheading)!important;
    margin: 0 0 20px!important;
    color: #FFF!important;
    text-align: center!important;
    text-shadow: 0 4.867px 12px rgba(0, 0, 0, 0.80)!important;
    font-family: Arcon!important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 38.933px!important;
}
.template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .cat-item a.cat-btn::after {
  content: none!important;
}
.title-block.title-blocktemplate--24726121251126__categories_7k6aEe {
    display: none;
}
.tt-testimonial-wrap .testimonials_wrap {
    padding: 70px 60px;
    text-align: center;
    background: #734128!important;
    border: 0px !important;
    top: 4rem!important;
}


.cat-btnn2{
color: var(--Color-Crema-2, #FDFCE8);
text-align: center;
font-family: Arcon;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cat-item a.cat-btnn2::after {
    content: "\f142";
    font-family: "Material Design Icons";
    vertical-align: middle;
    display: inline-block;
    padding: 8px 0px 0px 5px;
}
/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
    .template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .collection_title

 {

    font-size: 38.933px!important;
   
}
  .template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .cat-item a.cat-btn
 {

    font-size: 24.333px!important;

}
.home-slider .slider-content-wrap .slider-button > a ,.TTProduct-Tab .nav-tabs > li.active > a, .TTProduct-Tab .nav-tabs > li > a:focus ,.TTProduct-Tab .nav-tabs > li:last-child > a{

    font-size: 30px!important;

}
h2.tt-title {

    font-size: 60px!important;

}
.ttabout-main .ttabout-block .ttabout-right .ttabout-desc {

    font-size: 28px!important;

}

.ttabout-main .ttabout-block .ttabout-right .ttabout-title {

    font-size: 40px!important;

}
.ttabout-btn>.btn {
color: #FFF!important;
text-align: center;
background: #734128!important;
font-family: Arcon!important;
font-size: 30px!important;
font-style: normal;
font-weight: 400;
line-height: normal!important;
}
#tt-megamenu .tt-mega_menu .tt_menus_ul>li>a ,.currency_wrapper.dropdown-toggle, .language_wrapper.dropdown-toggle{
   
    color: #000;
    font-family: Arcon!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
}
/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1199px) {
  .home-slider .slider-content-wrap .slider-button > a ,.TTProduct-Tab .nav-tabs > li.active > a, .TTProduct-Tab .nav-tabs > li > a:focus ,.TTProduct-Tab .nav-tabs > li:last-child > a{

    font-size: 18px!important

}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

/*-----------------------Home----------------------*/

/*--------End Home----------*/

}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){


  /*-----------------------Home----------------------*/

  /*-------------------End Home---------------------*/
}