
/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*--------------- Global Custom CSS -------------------*/


@font-face {
  font-family: 'Chilia Regular'; /* Give your font a descriptive name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Chilia-Regular-BF64e0411a3313c.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* ExtraBold is typically 800 */
  font-style: normal!important;;
  font-display: swap;
}


@font-face {
  font-family: 'Arcon Regular'; /* Use the base font family name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Arcon-Regular.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* 'Bold' typically corresponds to 700 */
  font-style: italic!important;; /* This is an italic variant */
  font-display: swap; /* Recommended for better loading performance */
}

.main-content {
    display: block;
    background: #fff!important;
}
@media (min-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 140rem !important;
    }
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], textarea, select {
    
    border: 1px solid var(--color-border);
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 0 1em;
    background: #fff!important;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #000000!important;
}

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {

}
/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1199px) {
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

/*-----------------------Home----------------------*/

/*--------End Home----------*/

}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){


  /*-----------------------Home----------------------*/

  /*-------------------End Home---------------------*/
}