
/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*--------------- Global Custom CSS -------------------*/


@font-face {
  font-family: 'Chilia Demo'; /* Give your font a descriptive name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Chilia-Regular-BF64e0411a3313c.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* ExtraBold is typically 800 */
  font-style: normal!important;;
  font-display: swap;
}


@font-face {
  font-family: 'Arcon'; /* Use the base font family name */
  src: url('https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Arcon-Regular.woff2?v=1754486620') format('woff2');
  font-weight: 400!important;; /* 'Bold' typically corresponds to 700 */
  font-style: italic!important;; /* This is an italic variant */
  font-display: swap; /* Recommended for better loading performance */
}
div#shopify-section-template--24726121251126__categories_ka7dhf, div#shopify-section-template--24726121251126__categories_7k6aEe {
    background-image: url(https://cdn.shopify.com/s/files/1/0816/5841/3366/files/Fondo_seccion_categories.jpg?v=1754510253);
}

.main-content {
    display: block;
    background: #fff!important;
}


.titletemplate--24726121251126__categories_ka7dhf {
    color: #FDFCE8 !important;
    font-family: Chilia Demo !important;
    font-size: 60px;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}
.titletemplate--24726121251126__categories_ka7dhf:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 22rem;
    height: .2rem;
    background-color: #FDFCE8 !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    top: 12rem;
}





@media (min-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 140rem !important;
    }
}

@media (max-width: 1459px) {
    .home-slider .slider-content-wrap .slider-title

 {
        font-size: 70px!important;
        line-height: 74px!important;
    }
}

@media (max-width: 1200px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 54px!important;
        line-height: 58px!important;
    }
}

@media (max-width: 991px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 42px!important;
        line-height: 46px!important;
    }
}

@media (max-width: 767px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 32px!important;
        line-height: 40px!important;
   
    }
}

@media (max-width: 650px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 30px!important;
        line-height: 32px!important;
    }
}

@media (max-width: 500px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 24px!important;
        line-height: 28px!important;
       
    }
}
@media (max-width: 410px) {
    .home-slider .slider-content-wrap .slider-title {
        font-size: 18px!important;
        line-height: 24px!important;
    }
}
/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
    .template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .collection_title

 {

    font-size: 38.933px!important;
   
}
  .template-index .main-content .category-feature .tt-collection-slider-wrap-inner .cat_content .tt-collection-content .ttcat-content .cat-item a.cat-btn
 {

    font-size: 24.333px!important;

}
.home-slider .slider-content-wrap .slider-button > a ,.TTProduct-Tab .nav-tabs > li.active > a, .TTProduct-Tab .nav-tabs > li > a:focus ,.TTProduct-Tab .nav-tabs > li:last-child > a{

    font-size: 30px!important;

}
h2.tt-title {

    font-size: 60px!important;

}
.ttabout-main .ttabout-block .ttabout-right .ttabout-desc {

    font-size: 28px!important;

}

.ttabout-main .ttabout-block .ttabout-right .ttabout-title {

    font-size: 40px!important;

}
.ttabout-btn>.btn {
    color: #FFF!important;
    text-align: center;
    background: #734128!important;
    font-family: Arcon!important;
    font-size: 30px!important;
    font-style: normal;
    font-weight: 400;
    line-height: normal!important;
}
#tt-megamenu .tt-mega_menu .tt_menus_ul>li>a ,.currency_wrapper.dropdown-toggle, .language_wrapper.dropdown-toggle{
   
    color: #000;
    font-family: Arcon!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: normal!important;
}
}
/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1199px) {
  .home-slider .slider-content-wrap .slider-button > a ,.TTProduct-Tab .nav-tabs > li.active > a, .TTProduct-Tab .nav-tabs > li > a:focus ,.TTProduct-Tab .nav-tabs > li:last-child > a{

    font-size: 18px!important;

}
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

/*-----------------------Home----------------------*/

/*--------End Home----------*/

}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){


  /*-----------------------Home----------------------*/

  /*-------------------End Home---------------------*/
}